<div style="height: 95%; position: relative;">
  <table align="right"><tr><td>Views:</td></tr>
    <tr>
      <td><label>
        <input type="radio" name="View" value="all" id="View_0">
        All Messasges
      </label></td>
      <td><label>
        <input type="radio" name="View" value="play" id="View_1">
        Play Only
      </label></td>
      <td><label>
        <input type="radio" name="View" value="chat" id="View_2">
        Chat Only
      </label></td>
    </tr>
  </table>
  <table class="border_div" style="width: 80%; height: 90%; bottom: 0px; right:0px; position:absolute"  align="right">
    <tr  class="border_div" style="height:95%">
      <td  class="border_div" style="width: 90%;">
        <ul id="conversation" style=" background: #FFFFFF; height: 100%; overflow-y: auto; overflow-x: auto;"></ul>
      </td>
      <td  class="border_div">
        <ul id="users" style=" background-color: #FFFFFF; height:100%"></ul>
      </td>
    </tr><tr class="border_div">
      <td class="border_div" colspan="2" align="right"> <input id="data" style="width:94%"  />
        <input type="button" id="datasend" value="send" align="right" />
      </td>
    </tr>
  </table>
</div>